html
  overflow: visible !important

body
  display: block !important

  > header, > footer
    z-index                         : 1980
    position                        : fixed
    left                            : 0
    right                           : 0

  > header
    top                             : 0
    background-color                : rgba(235, 57, 8, 0.9)
    color                           : WHITE
    height                          : UNIT
    padding                         : 0 SPACE

    h1
      margin-right: SPACE
      font-size: (UNIT / 3)
      font-weight: FONT-WEIGHT-BOLD
    input
      max-width: 25%
      margin: 0
      background-color: darken(THEME, 25%) !important
      color: white !important
      &::-webkit-input-placeholder
        color: lighten(THEME, 50%)
      &::-moz-placeholder
        color: lighten(THEME, 50%)
      &:-ms-input-placeholder
        color: lighten(THEME, 50%)

    nav
      > *
        margin-left: (SPACE / 1)
      > a
        font-size: FONT_SIZE_TINY
        text-transform: uppercase
        padding: 0 (SPACE / 4)
      > button
        margin-bottom: 0

  > article
    > section
      padding-top: UNIT !important
  //   padding-top: UNIT

  > footer
    bottom                          : 0
    padding                         : SPACE (2 * SPACE)
    font-weight                     : FONT-WEIGHT-BOLD
