body
  color                     : COLOR
  background-color          : BACKGROUND
  font-weight               : FONT-WEIGHT-NORMAL
  a
    color                   : WHITE
    text-decoration         : NONE
.color
  &.white
    color                   : WHITE
  &.theme
    color                   : THEME

.tags
  > *
    text-shadow             : 0 1px rgba(0,0,0,0.25)
    background-color        : rgba(0,0,0,0.8)
    &.javascript, &.hadoop
      background-color: #F0DB4F !important
      color:  WHITE !important
    &.python
      background-color: #2A5A82 !important
    &.ruby
      background-color: #CC342D !important
    &.css
      background-color: #1572B7 !important
    &.php
      background-color: #5E66A4 !important
    &.android
      background-color: green !important
    &.redis
      background-color: #D82A20 !important
    &.nodejs
      background-color: #80BD01 !important
    &.web, &.html5
      background-color: #F36325 !important
    &.css
      background-color: #0171BB !important

// -- BUTTON -------------------------------------------------------------------
.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  border                    : 1px solid WHITE
  // border-radius             : BORDER-RADIUS
  &:hover, &:focus
    color                   : THEME
    background-color        : WHITE
  &.primary
    color                   : WHITE
    background-color        : THEME
    border-color            : darken(THEME, 5%)
    &:hover, &:focus
      color                 : WHITE
      background-color      : darken(THEME, 10%)
      border-color          : darken(THEME, 15%)

// -- FORM ---------------------------------------------------------------------
input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select
  background-color          : WHITE
  // border                    : 1px solid #D1D1D1
  border                    : none
  border-radius             : 0px
  color                     : COLOR
  & :focus
    border                  : 1px solid #33C3F0

// -- TABLE ---------------------------------------------------------------------
table
  th, td
    border-bottom           : 1px solid #E1E1E1

// -- CODE ---------------------------------------------------------------------
code
  background                : darken(BACKGROUND, 5%)
  border                    : 1px solid darken(BACKGROUND, 10%)
  border-radius             : BORDER-RADIUS
