@import url("http://fonts.googleapis.com/css?family=Raleway:100,700,400,200")

/* ------------------------- COLORS ------------------------- */
THEME                   = #f30
THEME = #CC171D
BACKGROUND              = #eee
DARK                    = #333
WHITE                   = #fff
BUTTON                  = darken(BACKGROUND, 25%)
CANCEL                  = #e74c3c
ACCEPT                  = #2ecc71
WARNING                 = #edba22

JAVASCRIPT              = #ffeb3b
HADOOP                  = #ffc107
PYTHON                  = #009688
RUBY                    = #f44336
PHP                     = #cddc39
ANDROID                 = #8bc34a
REDIS                   = #e91e63
NODEJS                  = #4caf50
WEB                     = #ff9800
HTML5                   = #ff5722
CSS                     = #03a9f4

/* ----------------------- DIMENSIONS ----------------------- */
ASIDE_WIDTH             = 16rem
FORM_SIZE               = 1rem
MOBILE                  = 480px
U                       = 1rem

/* -------------------------- FORM -------------------------- */
FORM_COLOR              = lighten(THEME, 25%)
BORDER_RADIUS           = .15rem

/* ------------------------ ANIMATION ----------------------- */
ANIMATION_DURATION      = 150ms
ANIMATION_STEPS         = 15
ANIMATION_EASE          = cubic-bezier(0.645, 0.045, 0.355, 1.000)

/* -------------------------- FONT -------------------------- */
FONT_FAMILY             = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.25rem
FONT_WEIGHT_THIN        = 100
FONT_WEIGHT_NORMAL      = 400
FONT_WEIGHT_BOLD        = 700

/* -------------------------- STYLES -------------------------- */
DIVIDER                 = solid 1px darken(BACKGROUND, 2.5%)
SHADOW_HEIGHT           = .075rem
SHADOW_OPACITY          = rgba(0,0,0,0.35)


