[data-atoms=app]
  > [data-organism-article] > [data-organism-header]
    height: HEIGHT = (5 * U)
    line-height: HEIGHT
    display-flex()
    flex-direction row
    &.scroll
      margin-top: -(HEIGHT)
    > [data-atom-heading]
      flex-grow 0
      width: (9 * U)
      padding: 0 0 0 (2 * U) !important
      font-size: 1.75rem !important
    > [data-molecule-div]
      position: absolute;
      left: (11 * U)
      right: (2 * U)
      flex-grow(2)
      margin-top: (U / 5)
      > [data-atom-input]
        font-size: 1.5rem !important

