[data-atoms=app]
  [data-atom-li=video]
    WIDTH                     = 298px !important
    HEIGHT                    = 160px !important
    margin                    : (U / 2) !important
    padding                   : 0 !important
    display                   : inline-block !important
    vertical-align            : top
    background-color          : #607d8b
    cursor                    : pointer
    box-shadow                : 0 1px 3px darken(BACKGROUND, 10%)
    transition                  all ANIMATION_DURATION ANIMATION_EASE
    > *
      overflow                : hidden
    > figure
      background-position     : center center
      background-size         : 100%
      -webkit-filter: VALUE = opacity(0.4) grayscale(0.5)
      -moz-filter: VALUE
      -o-filter: VALUE
      -ms-filter: VALUE
      filter: VALUE
    > .general
      position                : absolute
      top                     : 0px
      left                    : 0px
      > *
        position              : absolute
        text-shadow           : 0 (U / 10) (U / 5) rgba(0,0,0,0.25)
        color                 : WHITE
      > small
        right                 : U
        top                   : (U / 1.25)
        font-size             : FONT_SIZE_TINY
        font-weight           : FONT_WEIGHT_BOLD
      > h2
        bottom                : 0
        left                  : 0
        right                 : 0
        padding               : (U / 2) U
        font-size             : SIZE = (1.25 * U)
        font-weight           : FONT_WEIGHT_NORMAL

    > .info
      overflow                : hidden
      &, & a
        color                 : rgba(255,255,255,0.85)
      > *
        padding               : (U / 1.5) U
        font-size             : FONT_SIZE_TINY
        &:not(:last-child)
          box-shadow            0 1px rgba(255,255,255,0.1)
      > strong
        font-weight           : FONT_WEIGHT_NORMAL
      > nav
        // background-color      : rgba(255,255,255,0.05)
        > a
          padding-right       : (U / 2)
          font-weight         : FONT_WEIGHT_BOLD
    &:hover
      transform                 scale(1.01)
      box-shadow              : 0 0 1rem darken(BACKGROUND, 15%)


    // -- TAG COLORS
    &.javascript, &.hadoop
      background-color        : JAVASCRIPT
      > .info
        &, & a
          color                 : rgba(0,0,0,0.7)
    &.python
      background-color        : PYTHON
    &.ruby
      background-color        : RUBY
    &.css
      background-color        : CSS
    &.php
      background-color        : PHP
    &.android
      background-color        : ANDROID
    &.redis
      background-color        : REDIS
    &.nodejs
      background-color        : NODEJS
    &.web
      background-color        : WEB
    &.html5
      background-color        : HTML5


RATIO = 0.54
@media only screen and (min-width:1680px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 320px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO)

@media only screen and (min-width:1440px) and (max-width: 1679px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 338px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important

@media only screen and (min-width:1200px) and (max-width: 1439px)
  [data-atoms=app] [data-atom-li=video]
    WIDTH                     = 298px !important
    width: WIDTH = 298px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important

@media only screen and (min-width: 769px) and (max-width: 1199px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 234px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important
    > .general
      > h2
        font-size: FONT_SIZE_NORMAL !important

@media only screen and (min-width: 480px) and (max-width: 768px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH =  232px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important
    > .general
      > h2
        font-size: FONT_SIZE_NORMAL !important

@media only screen and (max-width: 528px)
  [data-atoms=app] [data-atom-li=video]
    margin: 0 0 U 0  !important
    width: WIDTH = 100% !important
    > figure, .general
      width : WIDTH
      height: 164px !important
