[data-atoms=app]
  [data-atom-li=video]
    WIDTH                     = 298px !important
    HEIGHT                    = 160px !important
    margin                    : (U / 2) !important
    padding                   : 0 !important
    display                   : inline-block !important
    vertical-align            : top
    background-color          : #607d8b
    cursor                    : pointer
    box-shadow                : 0 1px 3px darken(BACKGROUND, 10%)
    > figure
      background-position     : center center
      background-size         : 100%
      box-shadow                inset 0 0 0 10rem rgba(0,0,0,0.35)

    > .general
      position                : absolute
      top                     : 0px
      left                    : 0px
      > *
        position              : absolute
        text-shadow           : 0 (U / 10) (U / 5) rgba(0,0,0,0.25)
        color                 : WHITE
      > small
        right                 : U
        top                   : (U / 1.25)
        font-size             : FONT_SIZE_TINY
        font-weight           : FONT_WEIGHT_BOLD
      > h2
        bottom                : (U / 1.5)
        left                  : U
        right                 : U
        font-size             : SIZE = (1.25 * U)
        font-weight           : FONT_WEIGHT_THIN

    > .info
      overflow                : hidden
      &, & a
        color                 : rgba(255,255,255,0.85)
      > *
        padding               : (U / 1.5) U
        font-size             : FONT_SIZE_TINY
        &:not(:last-child)
          box-shadow            0 1px rgba(255,255,255,0.2)
      > strong
        font-weight           : FONT_WEIGHT_NORMAL
        // max-height                : (3.35 * U)
        // overflow              : hidden
        border-bottom         : solid (U / 4) transparent
      > nav
        // background-color      : rgba(255,255,255,0.1)
        > a
          padding-right       : (U / 2)
          font-weight         : FONT_WEIGHT_BOLD

    OPACITY = 0.4
    &.javascript, &.hadoop
      background-color        : JAVASCRIPT
      > figure
        box-shadow              inset 0 0 0 10rem alpha(JAVASCRIPT, OPACITY)
      > .info
        &, & a
          color                 : rgba(0,0,0,0.7)
    &.python
      background-color        : PYTHON
      > figure
        box-shadow              inset 0 0 0 10rem alpha(PYTHON, OPACITY)
    &.ruby
      background-color        : RUBY
      > figure
        box-shadow              inset 0 0 0 10rem alpha(RUBY, OPACITY)
    &.css
      background-color        : CSS
      > figure
        box-shadow              inset 0 0 0 10rem alpha(CSS, OPACITY)
    &.php
      background-color        : PHP
      > figure
        box-shadow              inset 0 0 0 10rem alpha(PHP, OPACITY)
    &.android
      background-color        : ANDROID
      > figure
        box-shadow              inset 0 0 0 10rem alpha(ANDROID, OPACITY)
    &.redis
      background-color        : REDIS
      > figure
        box-shadow              inset 0 0 0 10rem alpha(REDIS, OPACITY)
    &.nodejs
      background-color        : NODEJS
      > figure
        box-shadow              inset 0 0 0 10rem alpha(NODEJS, OPACITY)
    &.web
      background-color        : WEB
      > figure
        box-shadow              inset 0 0 0 10rem alpha(WEB, OPACITY)
    &.html5
      background-color        : HTML5
      > figure
        box-shadow              inset 0 0 0 10rem alpha(HTML5, OPACITY)


RATIO = 0.54
@media only screen and (min-width:1680px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 320px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO)

@media only screen and (min-width:1440px) and (max-width: 1679px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 338px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important

@media only screen and (min-width:1200px) and (max-width: 1439px)
  [data-atoms=app] [data-atom-li=video]
    WIDTH                     = 298px !important
    width: WIDTH = 298px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important

@media only screen and (min-width: 769px) and (max-width: 1199px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH = 234px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important
    > .general
      > h2
        font-size: FONT_SIZE_NORMAL !important

@media only screen and (min-width: 480px) and (max-width: 768px)
  [data-atoms=app] [data-atom-li=video]
    width: WIDTH =  232px !important
    > figure, .general
      width : WIDTH
      height: (WIDTH * RATIO) !important
    > .general
      > h2
        font-size: FONT_SIZE_NORMAL !important

@media only screen and (max-width: 528px)
  [data-atoms=app] [data-atom-li=video]
    margin: 0 0 U 0  !important
    width: WIDTH = 100% !important
    > figure, .general
      width : WIDTH
      height: 164px !important
