[data-atoms=app]
  font-family: FONT_FAMILY
  font-weight: FONT_WEIGHT_THIN
  font-size: 100%
  background: darken(DARK, 100%)

  [data-tooltip]:after
    font-size: FONT_SIZE_TINY
    font-weight: FONT_WEIGHT_LIGHT
    background-color: rgba(0,0,0,.75)
    color: WHITE
    border-radius: BORDER_RADIUS

  .loading-animation
    &::before, &::after
      background-color: WHITE
