<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Devcast</title>
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="@soyjavi">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/devcast.co.dependencies.css">
    <link rel="stylesheet" href="/assets/css/devcast.co.css">
  </head>
  <body data-page="{{page}}" data-atoms="app">
    {{> partial.index}}
    {{> partial.video}}
    <script src="/assets/js/devcast.co.dependencies.js"></script>
    <script src="/assets/js/devcast.co.js"></script>
  </body>
</html>
