{{! <header data-flex="horizontal grow" data-flex-items="center">
  <h1 data-flex-grow="min">DEVCAST</h1>
  <input type="search" placeholder="Search"/>
  <nav data-flex="horizontal" data-flex-items="center" data-flex-justify="end">
    <a href="/hot">Hot</a>
    <a href="/hot">Most viewed</a>
    <a href="/hot">Random</a>
    <button>sign in</button>
  </nav>
</header> }}
